.version.home /* version checker */
{
	color: #000013;
	background-color: #21F688;
}

.html
{
	background-color: #1E1F1C;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 505px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #1E1F1C;
	margin-left: auto;
	margin-right: auto;
}

#pu362
{
	width: 0.01px;
	margin: -56px -10000px -1px -100px;
	padding: 118px 1301px 463px 100px;
}

#u362
{
	z-index: 38;
	height: 65px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: fixed;
	top: 0px;
}

#u362-bw
{
	z-index: 38;
}

#u343
{
	z-index: 41;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	bottom: -1px;
}

#u343-bw
{
	z-index: 41;
}

#ppu190-3
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 10px;
	margin-left: -80px;
}

#u190-3
{
	z-index: 10;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 175px;
}

#u472
{
	z-index: 77;
	width: 266px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#pu190-3,#ppu153
{
	width: 0.01px;
}

#pu153
{
	z-index: 78;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u153
{
	z-index: 0;
	width: 266px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.31;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=31)";
	filter: alpha(opacity=31);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu273-4
{
	width: 0.01px;
	position: relative;
	left: 11px;
	padding-top: 42px;
	z-index: 2;
	padding-bottom: 14px;
}

#u273-4
{
	z-index: 79;
	width: 242px;
	min-height: 59px;
	border-color: #FFFFFF;
	background-color: transparent;
	letter-spacing: 2px;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u266
{
	z-index: 84;
	height: 46px;
	width: 47px;
	vertical-align: top;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 72px;
	left: 204px;
	background: url("../images/u266.png") no-repeat 5px 5px;
}

#u266:hover
{
	background: url("../images/u266-r.png") no-repeat 5px 5px;
}

#u266:active
{
	background: url("../images/u266-m.png") no-repeat 0px 0px;
}

#u387
{
	z-index: 89;
	width: 193px;
	min-height: 37px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 11px;
}

#pu463
{
	z-index: 87;
	width: 0.01px;
	position: relative;
}

#u463
{
	z-index: 0;
	width: 266px;
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u463.f3s_top
{
	background-image: url("../images/u463-full.png");
	height: 66px;
	background-position: left top;
	width: 266px;
}

#pu385
{
	width: 0.01px;
	position: relative;
	left: 13px;
	padding-top: 19px;
	z-index: 2;
	padding-bottom: 17px;
}

#u385
{
	z-index: 88;
	width: 230px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u471
{
	z-index: 59;
	width: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 1px;
	position: relative;
}

#u470
{
	z-index: 60;
	width: 264px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u425
{
	z-index: 67;
	height: 80px;
	width: 80px;
	vertical-align: top;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 37px;
	background: url("../images/u425.png") no-repeat 0px 0px;
}

#u425:hover
{
	background: url("../images/u425-r.png") no-repeat 0px 0px;
}

#u425:active
{
	background: url("../images/u425-m.png") no-repeat 0px 0px;
}

#u431
{
	z-index: 71;
	height: 80px;
	width: 80px;
	vertical-align: top;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 193px;
	left: 135px;
	background: url("../images/u431.png") no-repeat 0px 0px;
}

#u431:hover
{
	background: url("../images/u431-r.png") no-repeat 0px 0px;
}

#u431:active
{
	background: url("../images/u431-m.png") no-repeat 0px 0px;
}

#pu464
{
	z-index: 61;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u464
{
	z-index: 0;
	width: 264px;
	-moz-border-radius: 0px 0px 60px 60px ;
	-webkit-border-radius: 0px 0px 60px 60px ;
	-khtml-border-radius: 0px 0px 60px 60px ;
	border-radius: 0px 0px 60px 60px ;
	opacity: 0.31;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=31)";
	filter: alpha(opacity=31);
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	bottom: 0px;
}

._u464.f3s_mid
{
	background-image: url("../images/u464-sprite.png");
	overflow: visible;
	width: 264px;
	height: 210px;
}

._u464.f3s_bot
{
	background-image: url("../images/u464-sprite.png");
	width: 264px;
	overflow: visible;
	height: 60px;
	background-position: -264.0884641515232px top;
}

#pu403-4
{
	width: 0.01px;
	position: relative;
	left: 19px;
	padding-top: 173px;
	z-index: 2;
	padding-bottom: 66px;
}

#u403-4
{
	z-index: 62;
	width: 236px;
	min-height: 31px;
	border-color: #FFFFFF;
	background-color: transparent;
	letter-spacing: 2px;
	line-height: 28px;
	font-size: 23px;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u389
{
	z-index: 74;
	width: 234px;
	min-height: 164px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 11px;
}

#pu374
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -68px;
	margin-left: 238px;
}

#u374
{
	z-index: 75;
	display: block;
	vertical-align: top;
	margin-left: 259px;
	position: relative;
}

#ppu160
{
	width: 0.01px;
	margin-top: -3px;
}

#u160
{
	z-index: 3;
	height: 129px;
	width: 130px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: -9px;
	background: url("../images/u160.png") no-repeat 9px 9px;
}

#u160:hover
{
	background: url("../images/u160-r.png") no-repeat 0px 0px;
}

#u160:active
{
	background: url("../images/u160-m.png") no-repeat 9px 9px;
}

#u165
{
	z-index: 7;
	height: 129px;
	width: 129px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 339px;
	background: url("../images/u165.png") no-repeat 9px 9px;
}

#u165:hover
{
	background: url("../images/u165-r.png") no-repeat 0px 0px;
}

#u165:active
{
	background: url("../images/u165-m.png") no-repeat 9px 9px;
}

#u192-7
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 122px;
}

#u373-7
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 122px;
}

#u367-11
{
	z-index: 27;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 474px;
}

#u275
{
	z-index: 39;
	width: 25px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 43px;
}

#u355
{
	z-index: 53;
	height: 129px;
	width: 129px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 182px;
	left: -8px;
	background: url("../images/u355.png") no-repeat 9px 9px;
}

#u355:hover
{
	background: url("../images/u355-r.png") no-repeat 0px 0px;
}

#u355:active
{
	background: url("../images/u355-m.png") no-repeat 9px 9px;
}

#u363-3
{
	z-index: 56;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 217px;
}

#u446
{
	z-index: 90;
	width: 420px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #1E1F1C;
	-moz-border-radius: 0px 0px 150px 0px ;
	-webkit-border-radius: 0px 0px 150px 0px ;
	-khtml-border-radius: 0px 0px 150px 0px ;
	border-radius: 0px 0px 150px 0px ;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u446_position_content
{
	padding-bottom: 15px;
}

#u448
{
	z-index: 91;
	width: 420px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 8px;
	left: -1px;
	position: relative;
}

#u461
{
	z-index: 100;
	width: 283px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFECED;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 17px;
}

#u465
{
	z-index: 101;
	width: 381px;
	min-height: 256px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFECED;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 7px;
	margin-top: 9px;
	position: relative;
}

#u467
{
	z-index: 102;
	width: 283px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFECED;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	margin-left: 7px;
	margin-top: 16px;
	position: relative;
}

#u449
{
	z-index: 93;
	height: 49px;
	width: 40px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 326px;
	background: url("../images/u449.png") no-repeat 0px 0px;
}

#u449:hover
{
	background: url("../images/u449-r.png") no-repeat 0px 0px;
}

#u449:active
{
	background: url("../images/u449-m.png") no-repeat 0px 0px;
}

#u455
{
	z-index: 97;
	height: 45px;
	width: 45px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 377px;
	background: url("../images/u455.png") no-repeat 0px 0px;
}

#u455:hover
{
	background: url("../images/u455-r.png") no-repeat 0px 0px;
}

#u455:active
{
	background: url("../images/u455-m.png") no-repeat 0px 0px;
}

#u222
{
	z-index: 49;
	height: 81px;
	width: 81px;
	vertical-align: top;
	position: fixed;
	top: -6px;
	left: 50%;
	margin-left: 430px;
	background: url("../images/u222.png") no-repeat 9px 9px;
}

#u222:hover
{
	background: url("../images/u222-r.png") no-repeat 9px 9px;
}

#u222:active
{
	background: url("../images/u222-m.png") no-repeat 0px 0px;
}

#u344
{
	z-index: 42;
	width: 86px;
	background-color: transparent;
	position: fixed;
	bottom: 15px;
	left: 50%;
	margin-left: 494px;
}

#u201
{
	z-index: 45;
	height: 81px;
	width: 81px;
	vertical-align: top;
	position: fixed;
	top: -8px;
	left: 50%;
	margin-left: 502px;
	background: url("../images/u201.png") no-repeat 9px 9px;
}

#u201:hover
{
	background: url("../images/u201-r.png") no-repeat 9px 9px;
}

#u201:active
{
	background: url("../images/u201-m.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-top: 56px;
}

#page .verticalspacer
{
	clear: both;
}

