<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" /></assemblies></compilation>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="WebServiceControllerBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://www.mytopdog.co.za/webService/sponsorgroupapi?ws=1" binding="basicHttpBinding" bindingConfiguration="WebServiceControllerBinding" contract="TopDogAPI.WebServiceControllerPortType" name="WebServiceControllerPort" />
		</client>
		<behaviors>
			<serviceBehaviors>
				<behavior name="ServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="EndpBehavior">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="ServiceBehavior" name="Service">
				<endpoint address="" binding="webHttpBinding" contract="IService" behaviorConfiguration="EndpBehavior" />
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
			</customHeaders>
		</httpProtocol>
		<modules runAllManagedModulesForAllRequests="true" />
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="login.html" />
            </files>
        </defaultDocument>
	</system.webServer>
	<appSettings>
	</appSettings></configuration>
